
.rodape {
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape p {
    color: var(--branco);
    margin: .5rem;
}

.rodape p:last-child {
    padding-bottom: 2rem;
}